<!--<script id="simple_product_templ" type="text/handlebars-template">-->
    <div class="review_header">
        <div class="top_title gr">
            <a href="/products/{{pid}}" class="btn_back" title="이전 화면으로 이동"> <i class="fn fn-backward1"></i> </a>
            <h2><a class="title" href="#">{{name}}</a></h2>
        </div>
    </div>
<!--</script>-->