<!-- Category List HandlebarJS  -->
<li class="item" data-category="0">
    <a class="anchor active"> <span>전체</span> </a>
</li>
{{#each this}}
    <li class="item" data-category="{{id}}">
        <a class="anchor"><span>{{name}}</span></a>
    </li>
{{/each}}